Discovery + launched in January 2021. So, time to revise my estimates

In [1]:
import pickle
import json
import pandas as pd
import numpy as np

In [6]:
# opening pickle file

#### TV Id List

In [7]:
tv_ids=[]

In [8]:
for i in tv_data_all:
    for key in i:
        if key == 'id':
            id = i['id']  
    tv_ids.append(id)

#### Finder Function

In [10]:
def finder_fn (col, list):
    for i in tv_data_all:
        for key in i:
            if key == col:
                item = i[col]  
        list.append(item)
    return list

In [11]:
# Name
name_list =[]
finder_fn('name', name_list)
len(name_list)

19235

In [12]:
# Run Time
run_time =[]
finder_fn('episode_run_time', run_time)
len(run_time)

19235

In [13]:
# Number of Episodes
no_episodes =[]
finder_fn('number_of_episodes', no_episodes)
len(no_episodes)

19235

In [14]:
# Number of Seasons
no_ssn =[]
finder_fn('number_of_seasons', no_ssn)
len(no_ssn)

19235

#### Networks

In [15]:
# Latest Network (one only)
network =[]
for i in tv_data_all:
    try:
        for key in i:
            if i['networks']:
                net = i['networks'][0]['name']
    except:
        net = ['None']
    network.append(net)

In [16]:
len(network)

19235

In [17]:
tv_data_all[2]['networks']

[{'name': 'The CW',
  'id': 71,
  'logo_path': '/ge9hzeaU7nMtQ4PjkFlc68dGAJ9.png',
  'origin_country': 'US'}]

#### Network 2

In [18]:
# Latest Network (one only)
network2 =[]
for i in tv_data_all:
    try:
        for key in i:
            if i['networks']:
                net = i['networks'][1]['name']
    except:
        net = ['None']
    network2.append(net)

In [19]:
len(network2)

19235

#### Providers

In [20]:
# provider example
tv_data_all[1]['watch/providers']['results']['US']['flatrate']

[{'display_priority': 0,
  'logo_path': '/9A1JSVmSxsyaBK4SUFsYVqbAYfW.jpg',
  'provider_id': 8,
  'provider_name': 'Netflix'},
 {'display_priority': 3,
  'logo_path': '/2wPRZit7b8u79GsqTdygmGL6kBW.jpg',
  'provider_id': 257,
  'provider_name': 'fuboTV'},
 {'display_priority': 41,
  'logo_path': '/qZdEeINwQotbr1Rq15dL5G2BaAh.jpg',
  'provider_id': 358,
  'provider_name': 'DIRECTV'}]

In [21]:
# provider loop
provider = []
prv = ''
for item in tv_data_all:
    prov = []
    try:
        if item['watch/providers']['results']['US']:
            for p in item['watch/providers']['results']['US']['flatrate']:
                for key in p:
                    if key == 'provider_name':
                        prv = p['provider_name']
                        prov.append(prv)
    except:
        prov = ['None']

    provider.append(prov)

In [22]:
provider[16]

['Netflix']

### Dataframe

In [23]:
# Creating a dataframe from the lists
TV_df = pd.DataFrame({'id': tv_ids})

In [24]:
TV_df['name'] = name_list
TV_df['runtime'] = run_time
TV_df['episode_count'] = no_episodes
TV_df['ssn_count'] = no_ssn
TV_df['network'] = network
TV_df['network2'] = network2
TV_df['provider'] = provider

In [25]:
TV_df

,id,name,runtime,episode_count,ssn_count,network,network2,provider
0,85271,WandaVision,"[36, 30]",9.0,1,Disney+,[None],[Disney Plus]
1,69050,Riverdale,[45],83.0,5,The CW,[None],"[Netflix, fuboTV, DIRECTV]"
2,79460,Legacies,[43],37.0,3,The CW,[None],"[Netflix, DIRECTV]"
3,97175,Fate: The Winx Saga,"[47, 53]",6.0,1,Netflix,[None],[Netflix]
4,71712,The Good Doctor,[43],69.0,4,ABC,[None],"[fuboTV, Hulu, DIRECTV, Spectrum On Demand]"
...,...,...,...,...,...,...,...,...
19230,17760,The Last Place on Earth,[],7.0,1,ITV,[None],[None]
19231,73338,MTV Undressed,[30],6.0,1,MTV,[None],[None]
19232,7918,Ensign O'Toole,[30],32.0,1,NBC,[None],[None]
19233,114044,White Blue,[],1.0,1,NBC,[None],[None]
19234,22119,Heartland,[30],10.0,1,CBS,[None],[None]

#### ave, min, max

In [26]:
# Creating an average for the multiple values listed in runtime
TV_df['run_ave'] = pd.DataFrame(TV_df['runtime'].values.tolist()).mean(1)

In [27]:
# Creating max/min columns from in runtime
TV_df['min'] = pd.DataFrame(TV_df['runtime'].values.tolist()).min(1)
TV_df['max'] = pd.DataFrame(TV_df['runtime'].values.tolist()).max(1)

In [28]:
TV_df

,id,name,runtime,episode_count,ssn_count,network,network2,provider,run_ave,min,max
0,85271,WandaVision,"[36, 30]",9.0,1,Disney+,[None],[Disney Plus],33.0,30.0,36.0
1,69050,Riverdale,[45],83.0,5,The CW,[None],"[Netflix, fuboTV, DIRECTV]",45.0,45.0,45.0
2,79460,Legacies,[43],37.0,3,The CW,[None],"[Netflix, DIRECTV]",43.0,43.0,43.0
3,97175,Fate: The Winx Saga,"[47, 53]",6.0,1,Netflix,[None],[Netflix],50.0,47.0,53.0
4,71712,The Good Doctor,[43],69.0,4,ABC,[None],"[fuboTV, Hulu, DIRECTV, Spectrum On Demand]",43.0,43.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...
19230,17760,The Last Place on Earth,[],7.0,1,ITV,[None],[None],NaN,NaN,NaN
19231,73338,MTV Undressed,[30],6.0,1,MTV,[None],[None],30.0,30.0,30.0
19232,7918,Ensign O'Toole,[30],32.0,1,NBC,[None],[None],30.0,30.0,30.0
19233,114044,White Blue,[],1.0,1,NBC,[None],[None],NaN,NaN,NaN
19234,22119,Heartland,[30],10.0,1,CBS,[None],[None],30.0,30.0,30.0

#### Conditions

In [29]:
# group tv shows by length.
condit_all = [    
    (TV_df['min'].isnull()),    
    (TV_df['min'] == 0),
    (TV_df['min'] > 0) & (TV_df['min']< 15),
    (TV_df['min'] >= 15) & (TV_df['min']< 31),
    (TV_df['min'] >= 31) & (TV_df['min']< 40),
    (TV_df['min'] >= 40) & (TV_df['min']< 70),
    (TV_df['min'] >= 70)
]

# create a list of values to assign to the conditions. keep or not
val = ['1.null', '2.zero', '3.u15', '4.30min', '5.btwn', '6.60min', '7.movie']

In [30]:
TV_df['type'] = np.select(condit_all, val)

In [31]:
TV_df

,id,name,runtime,episode_count,ssn_count,network,network2,provider,run_ave,min,max,type
0,85271,WandaVision,"[36, 30]",9.0,1,Disney+,[None],[Disney Plus],33.0,30.0,36.0,4.30min
1,69050,Riverdale,[45],83.0,5,The CW,[None],"[Netflix, fuboTV, DIRECTV]",45.0,45.0,45.0,6.60min
2,79460,Legacies,[43],37.0,3,The CW,[None],"[Netflix, DIRECTV]",43.0,43.0,43.0,6.60min
3,97175,Fate: The Winx Saga,"[47, 53]",6.0,1,Netflix,[None],[Netflix],50.0,47.0,53.0,6.60min
4,71712,The Good Doctor,[43],69.0,4,ABC,[None],"[fuboTV, Hulu, DIRECTV, Spectrum On Demand]",43.0,43.0,43.0,6.60min
...,...,...,...,...,...,...,...,...,...,...,...,...
19230,17760,The Last Place on Earth,[],7.0,1,ITV,[None],[None],NaN,NaN,NaN,1.null
19231,73338,MTV Undressed,[30],6.0,1,MTV,[None],[None],30.0,30.0,30.0,4.30min
19232,7918,Ensign O'Toole,[30],32.0,1,NBC,[None],[None],30.0,30.0,30.0,4.30min
19233,114044,White Blue,[],1.0,1,NBC,[None],[None],NaN,NaN,NaN,1.null
19234,22119,Heartland,[30],10.0,1,CBS,[None],[None],30.0,30.0,30.0,4.30min

### Provider Columns

In [50]:
TV_df['Netflix'] = TV_df['provider'].astype(str).str.contains(r'Netflix')
TV_df['Hulu'] = TV_df['provider'].astype(str).str.contains(r'Hulu')
TV_df['Amazon'] = TV_df['provider'].astype(str).str.contains(r'Amazon Prime Video')
TV_df['CBS'] = TV_df['provider'].astype(str).str.contains(r'CBS')
TV_df['Showtime'] = TV_df['provider'].astype(str).str.contains(r'Showtime')
TV_df['Starz'] = TV_df['provider'].astype(str).str.contains(r'Starz')
TV_df['Apple'] = TV_df['provider'].astype(str).str.contains(r'Apple TV Plus')
TV_df['Disney'] = TV_df['provider'].astype(str).str.contains(r'Disney Plus')
TV_df['HBO'] = TV_df['provider'].astype(str).str.contains(r'HBO Max')
TV_df['Peacock'] = TV_df['provider'].astype(str).str.contains(r'Peacock Premium')
TV_df['Discovery'] = TV_df['provider'].astype(str).str.contains(r'Discovery Plus')

In [51]:
TV_df

,id,name,runtime,episode_count,ssn_count,network,network2,provider,run_ave,min,...,Hulu,Amazon,CBS,Showtime,Starz,Apple,Disney,HBO,Peacock,Discovery
0,85271,WandaVision,"[36, 30]",9.0,1,Disney+,[None],[Disney Plus],33.0,30.0,...,False,False,False,False,False,False,True,False,False,False
1,69050,Riverdale,[45],83.0,5,The CW,[None],"[Netflix, fuboTV, DIRECTV]",45.0,45.0,...,False,False,False,False,False,False,False,False,False,False
2,79460,Legacies,[43],37.0,3,The CW,[None],"[Netflix, DIRECTV]",43.0,43.0,...,False,False,False,False,False,False,False,False,False,False
3,97175,Fate: The Winx Saga,"[47, 53]",6.0,1,Netflix,[None],[Netflix],50.0,47.0,...,False,False,False,False,False,False,False,False,False,False
4,71712,The Good Doctor,[43],69.0,4,ABC,[None],"[fuboTV, Hulu, DIRECTV, Spectrum On Demand]",43.0,43.0,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19230,17760,The Last Place on Earth,[],7.0,1,ITV,[None],[None],NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
19231,73338,MTV Undressed,[30],6.0,1,MTV,[None],[None],30.0,30.0,...,False,False,False,False,False,False,False,False,False,False
19232,7918,Ensign O'Toole,[30],32.0,1,NBC,[None],[None],30.0,30.0,...,False,False,False,False,False,False,False,False,False,False
19233,114044,White Blue,[],1.0,1,NBC,[None],[None],NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
19234,22119,Heartland,[30],10.0,1,CBS,[None],[None],30.0,30.0,...,False,False,False,False,False,False,False,False,False,False